body {display: inline-block;}

img {margin-bottom: 20px;}

a {text-decoration: none;
    color: black;
    }



.back {    margin-left: 89px;
}

a:hover {color:#5f17b6;
}

.now{color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;}

.cen {font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: bolder; 
        background-color: silver;
        border-radius: 20px;
        margin-left: 20px;
        margin-right: 1277px;
        margin-top: 7px;
        padding: 5px;}

.card {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

h1 {font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-weight: bolder;}

span {font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;}

fieldset {background-color: white;
        margin-left: 290px;
        margin-right: 280px;
        border: 1px solid #ccc;
        border-radius: 10px;
        margin-bottom: 20px;
        }

.date {text-align: center;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

#f {display: block;}

.rt {padding-left: 20px;
    margin-right: 40px;
    margin-bottom: 40px;}

.lt {padding-left: 20px;
    margin-left: 0px;
    margin-bottom: 40px;}

label {margin-bottom: 10px;}

#d {margin-bottom: 10px; 
        padding: 7px;
        margin-right: 20px;
        border:0.9px solid lightgray;
        padding-right: 200px;
    }

#dd {margin-bottom: 8px; 
    padding: 7px;
    margin-right: 20px;
    border: 0.9px solid lightgray;
    }

#ddd

sss {font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold; 
        }

.foot {background-color: steelblue;
        text-align: center;
        padding: 5px;
        margin-right: 250px;
        margin-left: 260px;
        margin-top: -10px;
        border-radius: 40px; 
    }

table {margin-top: 20px;
        }